@keyframes fadeInSnippet {
    from {
        opacity: 0;
        transform: translateX(15px);
    }
}

@keyframes OpacitySnippet {
    from {
        opacity: 0;
    }
}

.appear-animation {
    --delay: 0;
    animation: fadeInSnippet 0.5s 1 cubic-bezier(.57, .64, .34, .65);
    animation-delay: var(--delay);
}

.fade-in-animation {
    --delay: 0;
    animation: OpacitySnippet 0.3s 1 cubic-bezier(.57, .64, .34, .65);
    animation-delay: var(--delay);
}